.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fdfdfd;
    border-radius: 15px;
    max-width: 500px;
    margin: 20px auto;
    }

    .title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .resultText{
        font-size: 18px;
        margin: 10px 0;
    }

    .resetButton{
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
    
    }
    
    .resetButton:hover{
        background-color: #4ca049;
    }
    
